.dropzone {
  border: dashed 1px transparent;
  border-radius: 4px;
  padding: 10px;
  width: 250px;
  transition: background-color 0.3s, border-color 0.3s;
  min-height:50px;

  z-index:1;
}

.drop-active {
  border-color: #333;
}

.drop-target {
  background-color: #ccc;
}

.drag-drop {
  display:inline-block;
  min-width: 40px;
  padding: 3px;

  background-color: #eee;
  border: solid 1px 777 !important;

  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  transition: background-color 0.3s;

  width:280px;

  z-index:10;
}

.drag-drop.can-drop {
}

.dragging .drag-drop {
  position:static;
  width: 280px;
}

.grab {
  height:15px;
  width:15px;
  background-color:black;
  display:inline-block;
}

#legend-layer-menu {
  position:absolute;
  top:10px;
  right:10px;
  border:solid 1px #aaa;
  width:250px;
  padding:10px;
  background-color:#fff;

  h2 {
    position:relative;
  }

  .content-container {
    position:relative;

    button {
      border-radius:0;
      border:solid 1px #aaa;
      background-color:white;
      padding:5px 10px;
      margin-left: 10px;
    }

    button:hover {
      background-color:rgb(103,171,236);
      color:white;
      cursor:pointer;
    }
  }
}
