.legend-layer-menu {
  position:absolute;
  top:10px;
  right:10px;
  border:solid 1px #aaa;
  width: 270px;
  padding:10px;
  background-color:#fff;
  box-sizing:border-box;


  h2 {
    position:relative;
  }

  select {
    width: 100%;
  }

  .content-container {
    position:relative;

    button {
      border:solid 1px #aaa;
      background-color:white;
      padding:3px 5px;
      margin-left: 10px;
    }

    button:hover {
      background-color:rgb(103,171,236);
      color:white;
      cursor:pointer;
    }
  }

  .dropzone {
    border: dashed 1px transparent;
    padding: 10px;
    transition: background-color 0.3s, border-color 0.3s;
    min-height:25px;
    z-index:1;
  }

  .drop-active {
    border-color: #333;
  }

  .drop-target {
    background-color: rgb(103,171,236);
  }

  .drag-drop {
    display:inline-block;
    min-width: 40px;
    padding: 3px;
    padding-left: 25px;
    box-sizing:border-box;

    border: solid 1px #eee;

    background-color:#fff;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);

    transition: background-color 0.3s;

    width:220px;

    z-index:10;

    &:hover {
      cursor:normal;
    }

    &.dragging {
      box-shadow:1px 1px 1px rgba(0,0,0,.9);
    }

    .grab {
      width:20px;
      display:inline-block;
      float: left;
      cursor:move;
      margin: 5px;
    }

    .label {
      margin-left: 5px;
      font-size: 75%;
    }

    .delete-icon {
      width: 7px;
      position:absolute;
      right:10px;
      top: 11px;
      cursor:pointer;
    }

    .drag-icon {
      fill: #aaa;
      width: 21px;
      height: 13px;
      position: absolute;
      left: 6px;
      top: 8px;
    }
  }

}
